language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: python -m py.test ./CheckIO/Home/*; python -m py.test ./Project-Euler/python/*.py;python -m py.test ./CheckIO/Elementary/*
before_install:
  - pip install codecov
  - pip install pytest-cov
after_success:
  - codecov
